#menu{
    display:inline-block; 
    list-style: none;
    padding: 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    background: black;
    width: 75px;
    
    
}

nav ul li a{
    color: white;
}

.home{
    background:black;
}

.box{
    background: lightgrey;
    padding-left: 30px;
    padding-top: 5px;
}

.box h1{
    color: black;

}

p{
    font-weight: bold;
}