#TL{
    background: orangered;
    padding: 10px;
    
    
}

#TR{
    background: teal;
    padding: 10px;
    
}

#Box1{
    background: lightgrey;

}
#Box2{
    background: lightgrey;
    
}
#Box3{
    background: lightgrey;
    
}
#Box4{
    background: lightgrey;
    
}