#TL {
    background: orangered;
    
}
#Mid {
    background: white;
}
#TR {
    background: teal;
}
#Col1 {background: lightgrey;
padding-top: 10px;
}
#Col2 {background: lightgrey;
padding-top: 10px;
}
#Col3{background: lightgrey;
padding-top: 10px;

}