html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.call-to-action{
    align-items: center;
    color: white;
    display: flex;
    height:80px;
    justify-content: center;

}


#joinLink{
    color: white;
    text-align: center;
    display: inline-block;
}

#section1{
    margin-top: 50px;
    display:block;
    text-align: center;
}

#sectionTitle{
    padding-bottom: 40px;
}

#sectionLine{
    padding-bottom: 50px;
    border-color: black;
    
}

#logInModal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    padding-top: 80px;
    z-index: 10;

    
}

.modal-content{
    background-color: #fafafa;
    margin: 10% auto 15% auto;
    border: 1px solid #a09797c0;
    width: 30%;
    height: 45%;
    min-width: 250px;
    min-height: 400px;
    text-align :center;
    position: relative;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid black;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.loginButton{
    cursor: pointer;
}

.loginButton:hover{
    opacity: 0.8;
}

#rememberMe{
    margin-top: 10px;
}

.signUpButton{
    cursor:pointer;
}

.signUpButton:hover{
    opacity: 0.8;
}

#formWrap{
    display: block;
    text-align: center;
}

#sign_up_form, #updateDetailsForm{
    /* display: inline-block; */
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    text-align: center;

}

#sign_up_form h1, #updateDetailsForm h1{
    padding-top: 10px;
}

#register{
    padding-top: 10px;
    
}

.registerBtn{
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerBtn:hover{
    opacity: 1.5;
}

#trainingSection{
        padding-top: 40px;
        display:block;
        text-align: center;
}

#sectionTitle2{
    padding-bottom: 50px;
}

#coachSection{
    padding-top: 40px;
    display:block;
    text-align: center;
    margin-bottom: 40px;
}

#section2{
    padding-top: 70px;
}

#sectionLine2{
    border-color: #000;
    padding-bottom: 60px;
}

#detailsHeading{
    text-align: center;
    padding-top: 30px;
}

#userDetails{
    margin-left: auto;
    margin-right: auto;
    
}

#updateDetailsForm{
    display: block;
    text-align: center;
}

#loadUserDiv{
    text-align: center;
}
.columns{
    padding-top: 20px;
    padding-bottom: 20px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }

  #priceContent{
      text-align: center;
      margin: 15px;
  }
  
  #gymCards{
    padding-top: 40px;
    display:block;
    text-align: center;
}
  .gym-card-title{
    color: #00999D;
}

#gymCardRow{
    column-rule: 20px;
}

.carousel-inner img{
    margin:auto;
}

#whywork{
    align-items: center;
    text-align: center;
}

#whywork p{
    padding-bottom: 25px;
}

#slides{
    margin-bottom: 40px;
}

h4{
    padding: 10px;
}

#buttonContainer{
    margin: 10px;
}

.input-icons{
    position: relative;
      
}

i.icons{
    position: absolute;
    left: 20px;
    top: 25px;
}

i.icon{
    padding-bottom: 20px;
}

.formInput{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.formInput i {
    position: absolute;
    right: 10px;
    top: 25px;
    visibility: hidden;
}

.formInput small {
    position: absolute;
    bottom: 0;
    left: 10px;
    visibility: hidden;

}

.formInput.success input{
    border-color: #2ecc71;
}

.formInput.error input{
    border-color: #e74c3c;
}

.formInput.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.formInput.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.formInput.error small{
    color: #e74c3c;
    visibility: visible;
}

#map-container{
    justify-content: center;
    text-align: center;
}

#map{
    width: 100%;
    height: 100%;
}

#map-wrapper{
    height: 400px;
    width: 2000px;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

.card{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 40px;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid gray;
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.gym-trainer{
    height: 250px;
}

.trainer-card{
    height: 500px;
}

.card-footer i{
    padding: 10px;
    cursor: pointer; 
    
}

.card-footer i:hover{
    opacity: 0.7;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("gymheader.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h3, .hero-text p{
    padding-bottom: 30px;
}

.navbar-expand-md{
    background-color: #111;
    opacity: 0.8;
}

@media only screen and (max-width: 600px){
    .hero-text p{
        display: none;
    }
    .image-header{
        height: 60vh;
    }
}

/* @media only screen and (max-width: 768px){
    .image-header{
        height: 60vh;
    }
} */

i.fa-facebook{
    color: #3b5998;
}

i.fa-instagram-square{
    color: #d6249f;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

i.fa-twitter{
    color: #0276FD;
}

.btn-margin{
    margin-left: 10px;
}
#profile-buttons{
    padding-bottom: 40px;
    text-align: right;
}

.header-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("gymheader.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}