#headerImage{
    height: 600px;
    padding: 0px;
    margin: 0px;
    padding-top: 50px;

}

.call-to-action{
    align-items: center;
    background: #333333;
    color: white;
    display: flex;
    height:80px;
    justify-content: center;

}

.call-to-action p{
    align-self:center;
    background-color: #44c184;
    border-radius: 2px;
    margin-left: 20px;
    padding: 5px 10px;
}

#joinLink{
    color: white;
}

#section1{
    margin-top: 50px;
    display:block;
    text-align: center;
}

#sectionTitle{
    padding-bottom: 40px;
}

#sectionLine{
    padding-bottom: 70px;
    border-color: black;
    
}

.logInModal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    padding-top: 60px;
}

.modal-content{
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #a09797c0;
    width: 30%;
    height: 30%;
    text-align :center;
    position: relative;
    justify-content: space-around;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 5px;
    margin: 8px;
    display: inline-block;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.loginButton{
    cursor: pointer;
}

.loginButton:hover{
    opacity: 0.8;
}






