#headerImage{
    height: 600px;
    padding: 0px;
    margin: 0px;
    padding-top: 50px;

}

.call-to-action{
    align-items: center;
    background: #333333;
    color: white;
    display: flex;
    height:80px;
    justify-content: center;

}

.call-to-action p{
    align-self:center;
    background-color: #44c184;
    border-radius: 2px;
    margin-left: 20px;
    padding: 5px 10px;
}

#joinLink{
    color: white;
}

#section1{
    margin-top: 50px;
    display:block;
    text-align: center;
}

#sectionTitle{
    padding-bottom: 40px;
}

#sectionLine{
    padding-bottom: 70px;
    border-color: black;
    
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    padding-top: 60px;

}

.modal-content{
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888888;
    width: 80%;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}




