#headerImage{
    height: 600px;
    padding: 0px;
    margin: 0px;
    padding-top: 50px;

}

.call-to-action{
    align-items: center;
    color: white;
    display: flex;
    height:80px;
    justify-content: center;

}

.call-to-action p{
    align-self:center;
    background-color: #44c184;
    border-radius: 2px;
    margin-left: 20px;
    padding: 5px 10px;
}

#joinLink{
    color: white;
}

#section1{
    margin-top: 50px;
    display:block;
    text-align: center;
}

#sectionTitle{
    padding-bottom: 40px;
}

#sectionLine{
    padding-bottom: 70px;
    border-color: black;
    
}

#logInModal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    padding-top: 60px;
    
}

.modal-content{
    background-color: #fafafa;
    margin: 10% auto 15% auto;
    border: 1px solid #a09797c0;
    width: 30%;
    height: 40%;
    text-align :center;
    position: relative;
    justify-content: space-around;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 5px;
    margin: 8px;
    display: inline-block;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.loginButton{
    cursor: pointer;
}

.loginButton:hover{
    opacity: 0.8;
}

.rememberMe{
    position:absolute;
    bottom: 0px;
    right: 0px;
}

.signUpButton{
    cursor:pointer;
}

.signUpButton:hover{
    opacity: 0.8;
}

#sign_up_form{
    display: block;
    text-align: center;
}

#register{
    padding-top: 10px;
    
}

.registerBtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#trainingSection{
        padding-top: 40px;
        display:block;
        text-align: center;
}

#sectionTitle2{
    padding-bottom: 50px;
}

.card{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 20px; 
}

#coachSection{
    padding-top: 40px;
    display:block;
    text-align: center;
}

#section2{
    padding-top: 70px;
}

#sectionLine2{
    border-color: #000;
    padding-bottom: 70px;
}

#detailsHeading{
    text-align: center;
}

#userDetails{
    margin-left: auto;
    margin-right: auto;
    
}

#updateDetailsForm{
    display: block;
    text-align: center;
}

#updateUser{
    display:none;
}

#deleteUser{
    display:none;
}

#loadUserDiv{
    text-align: center;
}
.columns{
    padding-top: 20px;
    padding-bottom: 20px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }

  #priceContent{
      text-align: center;
  }
  
  #gymCards{
    padding-top: 40px;
    display:block;
    text-align: center;
}
  .gym-card-title{
    color: #00999D;
}

#gymCardRow{
    column-rule: 20px;
}



